<%- include("../layout/admin/header.ejs") -%>

    <div class="screen-overlay"></div>

    <aside class="navbar-aside" id="offcanvas_aside">
      
                        <!-- SIDE NAV START -->
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/dashboard" class="brand-wrap">
            <img src="assets/imgs/theme/JPG.jpg" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i
                    class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/customers">
                    <i class="icon material-icons md-group"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item active ">
                <a class="menu-link" href="/admin/category">
                    <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/returns">
                    <i class="icon material-icons md-settings_backup_restore"></i>
                    <span class="text">Return</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-add_circle"></i>
                    <span class="text">Coupon</span>
                </a>
            </li>
       
            <li class="menu-item">
                <a class="menu-link" disabled href="/admin/offer">
                    <i class="icon material-icons md-percent">&#37;</i>
                    <span class="text">Offer</span>
                </a>
            </li>
            


        </ul>
        <br />
        <br />
    </nav>
</aside>

                        <!-- SIDE NAV END -->
    </aside>
    <main class="main-wrap">

        <%- include("../layout/admin/navbar.ejs") -%>

            <section class="content-main ">
                <div class="row">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Add Categories</h2>
                            <p>Add, edit or delete a category</p>
                        </div>
                            <a href="/admin/category" class="btn btn-primary"><i class="material-icons md-arrow_back"></i>Go
                                Back</a>
                    </div>
                    <form action="" method="post" onsubmit=" return categoryValidation()">

                        <div class="col-lg-6 " style="margin-left: 15rem; margin-top: 2rem;">
                            <% if (messages.existCategory) { %>
                                <div class="alert alert-danger d-flex align-items-center  " role="alert"
                                    id="error-alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 " viewBox="0 0 16 16"
                                        role="img" aria-label="Warning:">
                                        <path
                                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <div>
                                        <strong>Hey !</strong>
                                        <%= messages.existCategory %>
                                    </div>
                                </div>
                                <% } %>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="mb-4">
                                                <label for="product_title" class="form-label">Category Name</label>
                                                <input name="categoryName" type="text" placeholder="Type here"
                                                    class="form-control" id="name" />
                                                <div id="nameError" class="forml" style="color: red;"></div>

                                            </div>
                                            <div class="card-body">
                                                <div>
                                                    <label class="form-label">Description</label>
                                                    <textarea name="description" id="description"
                                                        placeholder="Type here" class="form-control"
                                                        rows="4"></textarea>
                                                    <div id="descriptionError" class="forml" style="color: red;"></div>

                                                </div>
                                            </div>

                                            <button style="margin-left : 2rem;" type="submit"
                                                class="btn btn-primary material-icons md-check_box">Submit</button>
                                        </div>

                                    </div>
                        </div>
                </div>
                </form>

                </div>
            </section>
    </main>


    <script src="/assets/js/categoryValdation.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%- include("../layout/admin/footer.ejs") -%>