<header class="main-header navbar" style="display: flex; justify-content: flex-end;">
    <div class="col-nav ">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" />
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item text-danger" href="/admin/logOut">
                        <i class="material-icons md-exit_to_app"></i>Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>
