
<%- include('../layout/user/header.ejs') %>
<%- include('../layout/user/navbar.ejs') %>

		<!-- page banner area end -->
		<!-- about us section start -->
		<section class="about-area section-padding" style="margin-top: 5rem;">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-lg-6">
						<div class="about-img">
							<img src="img/about/1.jpg" width="555" height="389" alt="" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-text">
							<h3>About Us</h3>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem  Lorem  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p> <br />
							<p> making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,</p>
							<a class="shop-btn" href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- about us section end -->
		<!-- choose section start -->
		<section class="choose-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-text-center">
						<div class="section-title about-title text-center">
							<h3>Why choose us</h3>
							<div class="shape">
								<img src="img/icon/t-shape.png" width="16" height="16" alt="Title Shape" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="img/about/bg1.jpg" width="1903" height="198" alt="" />
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-choose">
								<i class="pe-7s-tools"></i>
								<h3>Strong Service</h3>
								<p>There are many variati passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-choose">
								<i class="pe-7s-refresh"></i>
								<h3>Money back guarantee</h3>
								<p>There are many variati passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-choose">
								<i class="pe-7s-help2"></i>
								<h3>Support provide</h3>
								<p>There are many variati passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
							</div>
						</div>
					</div>
					<div class="row margin-top">
						<div class="col-md-4">
							<div class="single-choose">
								<i class="pe-7s-home"></i>
								<h3>Home Service</h3>
								<p>There are many variati passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-choose">
								<i class="pe-7s-hammer"></i>
								<h3>Accessories available</h3>
								<p>There are many variati passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-choose">
								<i class="pe-7s-map-2"></i>
								<h3>GPS tracker</h3>
								<p>There are many variati passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- choose section end -->
		<!-- our team section start -->
		<div class="our-team section-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-text-center">
						<div class="section-title about-title text-center">
							<h3>Our Team</h3>
							<div class="shape">
								<img src="img/icon/t-shape.png" width="16" height="16" alt="Title Shape" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="single-member">
							<div class="member-img">
								<img src="img/about/2.jpg" width="263" height="311" alt="Team Member" />
								<div class="social-share text-center">
									<div class="link-icon">
										<a href="#"><i class="fa fa-link"></i></a>
									</div>
									<ul class="clearfix">
										<li>
											<a href="#"><i class="fa fa-google"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-behance"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<h4>Tom smith</h4>
							<p>Designer</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single-member">
							<div class="member-img">
								<img src="img/about/3.jpg" width="263" height="311" alt="Team Member" />
								<div class="social-share text-center">
									<div class="link-icon">
										<a href="#"><i class="fa fa-link"></i></a>
									</div>
									<ul class="clearfix">
										<li>
											<a href="#"><i class="fa fa-google"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-behance"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<h4>Lora Smiytl</h4>
							<p>Designer</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single-member">
							<div class="member-img">
								<img src="img/about/4.jpg" width="263" height="311" alt="Team Member" />
								<div class="social-share text-center">
									<div class="link-icon">
										<a href="#"><i class="fa fa-link"></i></a>
									</div>
									<ul class="clearfix">
										<li>
											<a href="#"><i class="fa fa-google"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-behance"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<h4>Semuael Samson</h4>
							<p>Designer</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="single-member">
							<div class="member-img">
								<img src="img/about/5.jpg" width="263" height="311" alt="Team Member" />
								<div class="social-share text-center">
									<div class="link-icon">
										<a href="#"><i class="fa fa-link"></i></a>
									</div>
									<ul class="clearfix">
										<li>
											<a href="#"><i class="fa fa-google"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-behance"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<h4>Larena Maya</h4>
							<p>Designer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- our team section end -->
		<!-- footer section start -->
		

<%-include('../layout/user/footbar.ejs') %>
<%-include('../layout/user/footer.ejs') %>