<%- include('../layout/user/header.ejs') %>
	<%- include('../layout/user/navbar.ejs') %>


		<!-- contact area start -->
		<div class="map-contact clearfix" style="margin-top: 7rem;">
			<div class="googleMap-info">
				<iframe title="Google map" class="contact-map-size"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869428!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1613802584124!5m2!1sen!2sbd"
					allowfullscreen="" loading="lazy">
				</iframe>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="main-contact-info">
								<ul class="contact-info">
									<li>
										<h3>contact info</h3>
									</li>
									<li>
										<i class="fa fa-map-marker"></i>
										<div class="text">
											<p>777 Seventh Road. Bonosri</p>
											<p>Rampura - Dhaka.</p>
										</div>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<div class="text">
											<p>+11 (019) 25184203</p>
											<p>+11 (019) 25184203</p>
										</div>
									</li>
									<li>
										<i class="fa fa-paper-plane-o"></i>
										<div class="text">
											<p>domain@email.com</p>
											<p>mail@email.com</p>
										</div>
									</li>
									<li>
										<div class="social-share contact-social">
											<ul class="clearfix">
												<li>
													<a href="#"><i class="fa fa-google"></i></a>
												</li>
												<li>
													<a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li>
													<a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li>
													<a href="#"><i class="fa fa-behance"></i></a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- contact-informaion start -->
		<div class="contact-informaion section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="informaion-text">
							<h3>Information</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has
								been the industry's dummy text ever since the 1500s, when an unknown printer took a
								galley
								of type and scrambled it to make a type specimen book. </p>
							<p> Printing and typesetting industry. Lorem Ipsum has been the industry's dummy text ever
								since
								the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
								specimen book.</p>
							<p> There are many variations of passages of Lorem Ipsum available, but the majority have
								suffered alteration in some form, by injected humour, or randomised words which don't
								look
								even slightly believable.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="contact-form clearfix">
								<form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
									<div class="row">
										<div class="col-md-6">
											<div class="input-text">
												<input type="text" name="con_name" placeholder="Your Name" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-text">
												<input type="text" name="con_email" placeholder="Email" required />
											</div>
										</div>
										<div class="col-12">
											<div class="input-text">
												<input type="text" name="con_subject" placeholder="Subject" />
											</div>
										</div>
										<div class="col-12">
											<div class="input-text">
												<textarea name="con_message" placeholder="Message" rows="4"></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="submit-text">
												<button class="style-2" type="submit" name="submit">submit</button>
											</div>
											<p class="form-message"></p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- contact-informaion end -->

		<%-include('.. /layout/user/footbar.ejs') %>
			<%-include('.. /layout/user/footer.ejs') %>