<%-include('../layout/user/header.ejs') %>


	<!-- 404 content section start -->
	
		<div class="container" >
			<div class="row">
				<div class="col-12"  style="margin-top: 90px;">
					<div class="error-img">
						<img src="img/error.jpg" width="1140" height="406" alt="404 Page" />
					</div>
					<div class="error-text text-center">
						<h3>Opps, Page Not Found</h3>
						<p>Please try one of the following page.</p>
						<a href="/">Return home</a>
					</div>
				</div>
			</div>
		</div>
	
	<!-- 404 content section end -->
	
		

        <%-include('../layout/user/footer.ejs') %>