<!-- footer  start -->
<div class="footer-top section-padding ">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<div class="s-footer-text">
					<div class="footer-title">
						<h4>Socail Network</h4>
					</div>
					<div class="social-link actions-btn clearfix">
						<ul>
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
						</ul>
					</div>
					<h4>Newsletter</h4>
					<!-- <form action="#">
						<div class="input-text">
							<input type="text" name="email" placeholder="Email Address" />
						</div>
						<div class="submit-text">
							<input type="submit" name="submit" value="submit" />
						</div>
					</form> -->
				</div>
			</div>
			<div class="col-md-4 col-lg-3">
				<div class="s-footer-text">
					<div class="footer-title">
						<h4>Contact</h4>
					</div>
					<div class="contact-link">
						<ul>
							<li>
								<span>Email:</span>
								<p>CycleCraft@gmail.com Ccraft@company.info</p>
							</li>
							<li>
								<span>Phone:</span>
								<p>+91 813******1  <br> +91 50950555</p>
							</li>
							<li>
								<span>Address:</span>
								<p>P**para***  INDIA KERALA</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-lg-2">
				<div class="s-footer-text">
					<div class="footer-title">
						<h4>INFORMATION</h4>
					</div>
					<div class="footer-menu">
						<ul>
							<li>
								<a href="/about">About Us</a>
							</li>
							<li>
								<a href="/shop">Our Store</a>
							</li>
							
							<li>
								<a href="/contact">Help</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-md-2 col-lg-3">
				<div class="s-footer-text">
					<div class="footer-title">
						<h4>My Account</h4>
					</div>
					<div class="footer-menu">
						<ul>
							<li>
								<a href="/orderHistory">My Orer</a>
							</li>
							<li>
								<a href="/cart">My Cart</a>
							</li>
							<li>
								<a href="/wishlist">Wishlist</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer  end -->
</footer>