<!-- jquery latest version -->
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<!-- modernizr js -->
<script src="/assets/js/vendor/modernizr-3.11.2.min.js"></script>
<!-- bootstrap js -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<!-- slick slider js -->
<script src="/assets/js/slick.min.js"></script>
<!-- jquery-ui js -->
<script src="/assets/js/jquery-ui.min.js"></script>
<!-- magnific-popup js -->
<script src="/assets/js/magnific-popup.min.js"></script>
<!-- countdown js -->
<script src="/assets/js/countdown.js"></script>
<!-- meanmenu js -->
<script src="/assets/js/jquery.meanmenu.js"></script>
<!-- main js -->
<script src="/assets/js/main.js"></script>

</body>