<style>
    .header-bottom {
        background-color: #000;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: background-color 0.3s ease-in-out;
    }

    .header-bottom.sticky {
        background-color: #000;
        /* Change this to your desired background color */
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .logo {
        width: 10%;
    }

    .mainmenu {
        width: 70%; /* Adjust this width to your preference */
    }

    .mainmenu nav {
        display: flex;
        align-items: center;
    }

    .menu-list {
        display: flex;
        justify-content: center; /* Align items in the center horizontally */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-list li {
        margin-left: 1rem;
        position: relative;
    }

    .menu-list li a {
        text-decoration: none;
        color: white;
    }

    .menu-list li .submenu {
        display: none;
        position: absolute;
        background: white;
        color: black;
        list-style: none;
        padding: 0.5rem;
    }

    .menu-list li:hover .submenu {
        display: block;
    }

    .cart-menu-area {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .cart-menu-area .fa-user,
    .cart-menu-area .fa-cart-shopping {
        font-size: 3ex; /* Adjust the size to your preference */
        margin-right: 1rem; /* Add margin to create space between icons */
    }

    .cart-menu-area .cart-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center the login button */
    }
</style>



<header>
    <div id="sticky-menu" class="header-bottom">
        <div class="row" >
            
            <div class="mainmenu" style="width: 100%;">
                <nav>
                    <div class="logo">
                        <a href="/">
                            <img src="/img/Wide White.jpg" width="100%" height="100% "  />
                        </a>
                    </div>
                    <ul class="menu-list" style="margin-left: 25%;">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="/profile">My account</a></li>
                                <li><a href="/wishlist">Wishlist</a></li>
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="product-details.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">contact</a></li>
                    </ul>
                    <div class="cart-menu-area">
                        <ul>
                            <li class="user-icon-dropdown">
                                <% if(locals.user){ %>
                                <a href="/profile"><i class="fa-regular fa-user"></i></a>
                                <ul class="cart-menu">
                                    <li class="cart-menu-btn">
                                        <a href="/logout">Logout</a>
                                        <a href="/profile">Profile</a>
                                    </li>
                                </ul>
                                <% } else { %>
                                <a href="/login"><i class="fa-regular fa-user"></i></a>
                                <ul class="cart-menu">
                                    <li class="cart-menu-btn">
                                        <a href="/login">Login</a>
                                    </li>
                                </ul>
                                <% } %>
                            </li>
                            <li>
                                <a href="/cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <% if(locals.cartDetais && cartDetais.products && cartDetais.products.length > 0 ){ %>
                                    <span><%= locals.cartDetais.products.length %></span>
                                    <% } %>
                                </a>
                                <ul class="cart-menu">
                                    <li class="cart-menu-btn">
                                        <a href="/cart">view cart</a>
                                        <a href="/wishlist">view wishlist</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- mobile menu start -->
            <div class="mobile-menu-area ">
                <div class="mobile-menu">
                     <div >
                        <a href="/">
                            <img  style="width:10%; margin-top: 1rem;" src="/img/Wide White.jpg"  />
                        </a>
                    </div>
                    <nav id="dropdown">
                        <ul>
                            <%if (locals.user){ %>
                                <li class="cart-menu-btn">
                                    <a href="/logout">Logout</a>
                                </li>
                                <% }else{ %>
                                    <li class="cart-menu-btn">
                                        <a href="/login">Login</a>
                                    </li><% }%>
                           
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">about</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="/profile">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- mobile menu end -->
        </div>
    </div>
</header>



